# ==========================================
# CẤU HÌNH BIẾN MÔI TRƯỜNG DOCKER COMPOSE (POSTGRESQL)
# ==========================================

# 1. Cấu hình Cổng Mạng (Port Mappings)
WEB_PORT=6767
API_PORT=5000
DB_PORT=5433

# 2. Cấu hình Database PostgreSQL (Docker nội bộ)
POSTGRES_DB=qlkho_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres@2026

# 3. Môi trường chạy Backend .NET (Development / Production)
ASPNETCORE_ENVIRONMENT=Production
